In [1]:
li=[3,5,3,6,7]
sorted(li)

[3, 3, 5, 6, 7]

In [66]:
l=[8,2,4,5,3]
l.sort()
print("l=",l)
print(type(l.sort())) 
print(sorted([5, 2, 3, 1, 4]))
sorted([5, 2, 3, 1, 4])

l= [2, 3, 4, 5, 8]
<class 'NoneType'>
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [14]:
L = [3, 2, 1, 0]
print("Last element: ", L.pop())
print(L)
print("3 at index 0: ",L.pop(0))
print(L)
print("1 at index 1: ",L.pop(1))
print(L)
print("2 at index 0: ",L.pop(0))
print(L)

Last element:  0
[3, 2, 1]
3 at index 0:  3
[2, 1]
1 at index 1:  1
[2]
2 at index 0:  2
[]

In [1]:
def sum():
    return 2+3
print(sum())

5

If a list has aliases, any attribute or method applied to one list affects the other.
[CHECK](http://www.pythontutor.com/visualize.html#mode=display)

In [2]:
a=1
b=1
print(a)
print(b)
warm=['red','yellow','orange']
hot=warm
hot

1
1

['red', 'yellow', 'orange']

In [3]:
warm

['red', 'yellow', 'orange']

In [17]:
hot.append('pink')
print("hot and warm point to the same things (the same lists) (Refer to pythontutor for visual understanding))")
hot

hot and warm point to the same things (the same lists) (Refer to pythontutor for visual understanding))

['red', 'yellow', 'orange', 'pink', 'pink', 'pink', 'pink', 'pink']

In [7]:
warm

['red', 'yellow', 'orange', 'pink', 'pink']

In [14]:
cool=['green','blue','lime']
chill=['green','blue','lime']
print(cool)
print(chill)
chill[2]='red'
print(cool)
print(chill)
print("cool and chill point to different structures")

['green', 'blue', 'lime']
['green', 'blue', 'lime']
['green', 'blue', 'lime']
['green', 'blue', 'red']
cool and chill point to different structures

#### CLONING A LIST

In [21]:
print("To avoid two identical lists to not point at each other we can o the following:")
cool=['blue','green','red']
chill=cool[:]
print(cool)
print(chill)
chill.append('black')
print(cool)
print(chill)

To avoid two identical lists to not point at each other we can o the following:
['blue', 'green', 'red']
['blue', 'green', 'red']
['blue', 'green', 'red']
['blue', 'green', 'red', 'black']

In [35]:
warm=['red','yellow','orange']
sortedwarm=warm.sort()
print(warm)
print("CHECK THIS!! This is because sort doesn't return anything:",sortedwarm)
cool=['green','blue','lime']
sortedcool=sorted(cool)
print("Cool remains the same", cool)
print("Just returns a new sorted list",sortedcool)

['orange', 'red', 'yellow']
CHECK THIS!! This is because sort doesn't return anything: None
Cool remains the same ['green', 'blue', 'lime']
Just returns a new sorted list ['blue', 'green', 'lime']

WE CANNOT SORT TUPLES BECAUSE THAT REQUIRES CHANGING THE TUPLE INDEXES

But we can use the sorted function -> this creates a list where data is copied!

In [52]:
l=[2,5,6,3]
l.sort()
print("Prints address:",l.sort)
print("Prints none:",l.sort())
print("l is mutated",l)

Prints address: <built-in method sort of list object at 0x7f15da1b5988>
Prints none: None
l is mutated [2, 3, 5, 6]

In [60]:
k=[64,6,3,2,345,35]
sorted(k)

[2, 3, 6, 35, 64, 345]

In [73]:
print(sorted(k))
print(sorted)
#error print(sorted())
print("k remains the same",k)

[2, 3, 6, 35, 64, 345]
<built-in function sorted>
k remains the same [64, 6, 3, 2, 345, 35]

In [77]:
warm=['yellow','orange']
hot=['red']
brightcolours=[warm]
brightcolours

[['yellow', 'orange']]

In [78]:
brightcolours.append(hot)
brightcolours

[['yellow', 'orange'], ['red']]

In [79]:
hot.append('pink')
print(hot)
print(brightcolours)
print(hot+warm)

['red', 'pink']
[['yellow', 'orange'], ['red', 'pink']]
['red', 'pink', 'yellow', 'orange']

In [67]:
#WRONG METHOD THOUGH
def removeduplicates(l1,l2):
    for i in l1:
        if i in l2:
            l1.remove(i)
l1=[1,3,4,5]
l2=[1,5,6,7]
removeduplicates(l1,l2)
print(l1)
print(l2)

l1=[1,2,3,4]
l2=[1,2,5,6]
removeduplicates(l1,l2)
print(l1)
print(l2)
print("Why is it [2,3,4] instead of [3,4]")
print("This is because python uses a internal counter but since the length changes when an element is removed, the counter never sees element 2. We can copy this toa new list or go backwards")


l1=[1,2,3,4,5,6,7,7,8,8,99,5,6,4,4]
l2=[1,2,5,6,7,4,3,6,7,3,6,7,5,7]
removeduplicates(l1,l2)
print(l1,",",l2)

[3, 4]
[1, 5, 6, 7]
[2, 3, 4]
[1, 2, 5, 6]
Why is it [2,3,4] instead of [3,4]
This is because python uses a internal counter but since the length changes when an element is removed, the counter never sees element 2. We can copy this toa new list or go backwards
[2, 6, 7, 8, 8, 99, 6, 4, 4] , [1, 2, 5, 6, 7, 4, 3, 6, 7, 3, 6, 7, 5, 7]

In [96]:
#SOLUTION!
def removeduplicates(l1,l2):
    l1_copy=l1[:]
    for i in l1_copy:
        if i in l2:
            l1.remove(i)
l1=[1,3,4,5]
l2=[1,5,6,7]
print(l1,l2)
removeduplicates(l1,l2)
print(l1)

l1=[1,2,3,4]
l2=[1,2,5,6]
print(l1,l2)
removeduplicates(l1,l2)
print(l1)

l1=[1,2,3,4,5,6,7,7,8,8,99,5,6,4,4]
l2=[1,2,5,6,7,4,3,6,7,3,6,7,5,7]
print(l1,",",l2)
removeduplicates(l1,l2)
print(l1)
print("Prints duplicates of l2 only")

[1, 3, 4, 5] [1, 5, 6, 7]
[3, 4]
[1, 2, 3, 4] [1, 2, 5, 6]
[3, 4]
[1, 2, 3, 4, 5, 6, 7, 7, 8, 8, 99, 5, 6, 4, 4] , [1, 2, 5, 6, 7, 4, 3, 6, 7, 3, 6, 7, 5, 7]
[8, 8, 99]
Prints duplicates of l2 only

In [101]:
s1='lakshmi'
s2=s1
s2[1]='r'
s2

TypeError: 'str' object does not support item assignment

In [107]:
s3=''
for i in s1:
    s3 = s3 + i
s3

'lakshmi'

In [113]:
str1 = "lakshmi vallala"
list1 = list(str1)
list1[2] = 'r'
list1[10]="r"
str1 = ''.join(list1)
print(str1)
type(str1)

larshmi varlala

str

In [121]:
earth_metals=['beryllium','magnesium','calcium','strontium','barium','radium']
earth_metals.sort()
print(earth_metals)
earth_metals.sort(reverse=True)
print(earth_metals)
print("WE CANNOT SORT TUPLES BECAUSE THAT REQUIRES CHANGING THE TUPLE INDEXES")
#earth_metals=('beryllium','magnesium','calcium','strontium','barium','radium')
earth_metals.sort()

['barium', 'beryllium', 'calcium', 'magnesium', 'radium', 'strontium']
['strontium', 'radium', 'magnesium', 'calcium', 'beryllium', 'barium']
WE CANNOT SORT TUPLES BECAUSE THAT REQUIRES CHANGING THE TUPLE INDEXES

In [14]:
help(list.sort)
print()
help(sorted)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.


Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [11]:
'''
planets=[(planet_name,distance from sun,radius of planet)]'''
planets=[
    ("Mercury",0.395,2440),
    ("Venus",0.723,6052), 
    ("Earth",1.000,6378), 
    ("Mars",1.530,3396),
    ("Jupiter",5.210,71492),
    ("Saturn",9.551,60268),
    ("Uranus",19.213,25559), 
    ("Neptune",30.070,24764)
]

size=lambda planet: planet[2]
planets.sort(key=size,reverse=True)
planets

[('Jupiter', 5.21, 71492),
 ('Saturn', 9.551, 60268),
 ('Uranus', 19.213, 25559),
 ('Neptune', 30.07, 24764),
 ('Earth', 1.0, 6378),
 ('Venus', 0.723, 6052),
 ('Mars', 1.53, 3396),
 ('Mercury', 0.395, 2440)]

In [16]:
earth_metals=['beryllium','magnesium','calcium','strontium','barium','radium']
sorted_e_m=sorted(earth_metals)
print(earth_metals)
print(sorted_e_m)

['beryllium', 'magnesium', 'calcium', 'strontium', 'barium', 'radium']
['barium', 'beryllium', 'calcium', 'magnesium', 'radium', 'strontium']

In [22]:
data=(3,1,5,2,10,4,7,6,8,9)
print("Notice that a list is returned",sorted(data))
print(data)
print(list(data))
print(tuple(sorted(data)))

Notice that a list is returned [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(3, 1, 5, 2, 10, 4, 7, 6, 8, 9)
[3, 1, 5, 2, 10, 4, 7, 6, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [23]:
sorted("Alphabetical")

['A', 'a', 'a', 'b', 'c', 'e', 'h', 'i', 'l', 'l', 'p', 't']

Quick BRIEF ON LAMBDA EXPRESSION = ANONYMOUS FUNCTIONS

In [25]:
def f(x):
    return 3*x+1
f(2)

7

In [29]:
lambda x:3*x+1
print("Here, we have defined an anonymous function. Lambda is not the name, it's a python keyword. This anonymous function takes x and returns 3x+1. So how do we call these functions?")
g=lambda x:3*x+1
print("One way to do this: ")
print(g(2))

Here, we have defined an anonymous function. Lambda is not the name, it's a python keyword. This anonymous function takes x and returns 3x+1. So how do we call these functions?
One way to do this:
7

In [32]:
full_name=lambda fn,ln: fn.strip().title()+" "+ln.strip().title()
full_name("   lakshMi ","   VallalA ")

'Lakshmi Vallala'

In [35]:
lambda : "What is this?"
lambda x: 3*x+1
lambda x,y:(x*y)**0.5
lambda x,y,z: 3/(1/x+1/y+1/z)
# lambda x1,x2,x3,x4......xn : EXPRESSION

In [44]:
ind_authors=["Chetan Bhagat","Amrita Pritam","Jhumpa Lahiri","Khushwant Singh"," Rabindranath Tagore","Ruskin Bond","Vikram Seth","Arundhati Roy","Sarat Chandra Chattopadhyay"]
help(ind_authors.sort)
print()
help(ind_authors.sort())
ind_authors.sort(key=lambda name:name.split(" ")[-1].lower())
ind_authors

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.


Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

['Chetan Bhagat',
 'Ruskin Bond',
 'Sarat Chandra Chattopadhyay',
 'Jhumpa Lahiri',
 'Amrita Pritam',
 'Arundhati Roy',
 'Vikram Seth',
 'Khushwant Singh',
 ' Rabindranath Tagore']

In [51]:
def build_quadratic_funn(a,b,c):
    """Returns the function f(x) = ax^2+bx+c"""
    return lambda x:a*x**2+b*x+c
f=build_quadratic_funn(2,3,-5)
print(f(0))  # 0: 2*x**2+3*0+(-5)
print(f(1))
print(f(2))
print(f(3))
print(f(4))
print(f(5))

-5
0
9
22
39
60

EASIER ALTERNATIVE TO THE ABOVE CODE:

In [52]:
build_quadratic_funn(3,0,1)(2)

13

In [55]:
k = 9
h = k
k += 1
print(h)
k

9

10

In [57]:
>>> cool = ('blue', 'green', 'grey')
>>> cool
('blue', 'green', 'grey')
>>> chill = cool

>>> cool
('blue', 'green', 'grey')
>>> cool += ('sky',)
>>> cool
('blue', 'green', 'grey', 'sky')
>>> chill
('blue', 'green', 'grey')

('blue', 'green', 'grey')

In [59]:
black = 0
print(black)
blue = black 
print(blue)
black = 4 
print(blue)
print(black)

0
0
0
4

In [64]:
L2=[]
L1=[2,4,6,3]
L2=L1.sort()
print(L1,L2)

[2, 3, 4, 6] None

In [69]:
def removeduplicates(l1,l2):
    for i in range(len(l1)-1, -1, -1):
        if i in l2:
            l1.remove(i)
l1=[1,2,3,4]
l2=[1,2,5,6]
print(l1,l2)
removeduplicates(l1,l2)
print(l1)

[1, 2, 3, 4] [1, 2, 5, 6]
[3, 4]

In [75]:
aList = [0, 1, 2, 3, 4, 5]
bList = aList
aList[2] = 'hello'
print(aList == bList)
print(aList is bList)
print(aList)
print(bList)

cList = [6, 5, 4, 3, 2]
dList = []
for num in cList:
    dList.append(num)
print(cList == dList)


print(cList is dList)
cList[2] = 20
print(aList)
print(dList)

True
True
[0, 1, 'hello', 3, 4, 5]
[0, 1, 'hello', 3, 4, 5]
True
False
[0, 1, 'hello', 3, 4, 5]
[6, 5, 4, 3, 2]

In [83]:
cool=['gren','blue']
chill=cool
cs=cool[:]
a='hey you'
b=a
print(id(cool))
print("Same as cool",id(chill))
print("Not same since this is a copy",id(cs))

print(id(a))
print(id(b))

a = 123
b = 123
print(a is b)

140138240878984
Same as cool 140138240878984
Not same since this is a copy 140138240219976
140138247356464
140138247356464
True

In [84]:
a = 'hello'
b = a
print(a is b)

a = 'hello'
b = 'hello'
print(a is b)

True
True

In [90]:
#cloning
s='lakshmi'
t=('rand','name',20)
l=[20,19,39,'age']

cs=s[:]
ct=t[:]
cl=l[:]

print(id(s))
print(id(cs))
print(s==cs)
print(s is cs)

print(id(t))
print(id(ct))
print(t==ct)
print(t is ct)

print(id(l))
print(id(cl))
print(l==cl)
print(l is cl)

140138247356464
140138247356464
True
True
140138249783408
140138249783408
True
True
140138250416200
140138240347080
True
False

In [91]:
# alliasing
s='lakshmi'
t=('rand','name',20)
l=[20,19,39,'age']

cs=s
ct=t
cl=l

print(id(s))
print(id(cs))
print(s==cs)
print(s is cs)

print(id(t))
print(id(ct))
print(t==ct)
print(t is ct)

print(id(l))
print(id(cl))
print(l==cl)
print(l is cl)

140138247356464
140138247356464
True
True
140138248873736
140138248873736
True
True
140138250342664
140138250342664
True
True

In [92]:
isinstance(1, object)

True

In [93]:
isinstance(list(), object)

True

Type	Immutable?

int	Yes

float	Yes

bool	Yes

complex	Yes

tuple	Yes

frozenset	Yes

str	Yes

list	No

set	No

dict	No

In [95]:
x = 5
print(id(x))
x+=1
print(x)
print(id(x))

94188955808928
6
94188955808960

In [97]:
>>> s = "real_python"
>>> id(s)
140637819584048
>>> s += "_rocks"
>>> s
'real_python_rocks'
>>> id(s)
140637819609424

140637819609424

In [100]:
>>> my_list = [1, 2, 3]
>>> id(my_list)
140637819575368
>>> my_list.append(4)
>>> my_list
[1, 2, 3, 4]
>>> id(my_list)
140637819575368
>>> my_list[0] = 0
>>> my_list
[0, 2, 3, 4]
>>> id(my_list)
140637819575368

140637819575368

In [104]:
a = 256
b = 256
print(a is b)   # True 
print(a == b)  # True
#range (-5, 256) was chosen
a = 257
b = 257
print(a is b)   # False 
print(a == b)  # True

True
True
False
True

>> a is b
>> id(a) == id(b)

In [105]:
>>> s1 = b1 = 'somestrdaasd ad ad asd as dasddsg,dlfg ,;dflg, dfg a'
>>> s1 == b1, s1 is b1, id(s1), id(b1)
(True, True, 4555308080, 4555308080)

>>> s1 = 'somestrdaasd ad ad asd as dasddsg,dlfg ,;dflg, dfg a'
>>> b1 = 'somestrdaasd ad ad asd as dasddsg,dlfg ,;dflg, dfg a'
>>> s1 == b1, s1 is b1, id(s1), id(b1)
(True, False, 4555308176, 4555308272)

(True, False, 4555308176, 4555308272)

In [107]:
foo = 10
print(dir(foo) == dir(10))
print(dir(foo) is dir(10))

True
False

## FUNCTIONS ARE FIRST CLASS OBJECTS:
They have a type, can also be elements of data structures such as lists, can appear in expressions 

FUNCTIONS as arguments ?

In [5]:
def fact(n):
    if n==1 or n==0: 
        return 1
    else:
        return n*fact(n-1)

In [6]:
def fib(n):
    if n==0 or n==1: 
        return 1
    else:
        return fib(n-1)+fib(n-2)

In [7]:
def applytoeach(li,f):
    """ l is a list, f a function mutates l by replacing each element i if l by f(i)"""
    for i in range(len(li)):
        li[i]=f(li[i])
li=[1,-2,3.4]
applytoeach(li,abs)
print(li)
applytoeach(li,int)
print(li)
applytoeach(li,fact)
print(li)
applytoeach(li,fib)
print(li)

[1, 2, 3.4]
[1, 2, 3]
[1, 2, 6]
[1, 2, 13]

In [8]:
def applyFuncs(L,x):
    for f in L:
        print(f(x))
applyFuncs([abs,int,fact,fib],4)

4
4
24
5

General purpose Higher order procedure by python - Map <br/>
A unary function and a collection 
> map(abs,[-1,3,-4,5])<br/>
> map(function,iterable)

The function f is called with the first element of the iterable as the argument. That function call is completed and a value is returned (if the function returns a value).
The values returned are kept in a map object, which is an iterator.

In [9]:
for i in map(abs,[-2,4,-6,-2]):
    print(i)

2
4
6
2

In [17]:
l1=[43,6,3,25,53,53242,0,-1]
l2=[35,64,6,745]
for i in map(min,l1,l2):
    print(i)
print("Stops after 4 elements in l2, doesn't even check the rest in l1")

35
6
3
25
Stops after 4 elements in l2, doesn't even check the rest in l1

In [19]:
#ERROR !!
l1=[43,6,3,25,53,53242,0,-1]
l2=[35,64,6,745]
for i in map(min,max,l1,l2):
    print(i)
print("Stops after 4 elements in l2, doesn't even check the rest in l1")

TypeError: 'builtin_function_or_method' object is not iterable

In [22]:
#ERROR WRONGGG!!
l1=[43,6,3,25,53,53242,0,-1]
l2=[35,64,6,745]
for i in map(min,l1,l2):
    for j in map(max,l1,l2):
        print(i,j)
print("Stops after 4 elements in l2, doesn't even check the rest in l1")

35 43
35 64
35 6
35 745
6 43
6 64
6 6
6 745
3 43
3 64
3 6
3 745
25 43
25 64
25 6
25 745
Stops after 4 elements in l2, doesn't even check the rest in l1

In [29]:
l1=[43,6,31,25,53,53242,0,-1]
l2=[35,64,6,745]
l3=[0,48,58,64,5,6543]
for i in map(min,l1,l2,l3):
    print(i)
print("Stops after 4 elements in l2, doesn't even check the rest in l1")

0
6
6
25
Stops after 4 elements in l2, doesn't even check the rest in l1

If we want factorial of minimum element out of the lists:

In [35]:
l1=[43,6,31,25,53,53242,0,-1]
l2=[35,64,6,745]
l3=[0,48,58,64,5,6543]
for i in map(min,l1,l2,l3):
    print(fact(i))

1
720
720
15511210043330985984000000

In [59]:
def f(x):
    return x+2
result=map(f,[1,2,3,4])
print(result)
print(list(result))
print(tuple(result)) #?
# print(int(result)) #TypeError- int() argument must be a string, a bytes-like object or a number, not 'map'

<map object at 0x7fe83464c7f0>
[3, 4, 5, 6]
()

In [43]:
for i in map(min,[43,6,31,25,53,53242,0,-1],[35,64,6,745],[0,48,58,64,5,6543]):
    print(fact(i))

1
720
720
15511210043330985984000000

In [46]:
def f(a,b):
    return a+b
result=map(f,[1,2,4],[4,3,6])
print(list(result))

[5, 5, 10]

Map function with tring iterables

In [51]:
a=["ab","a","ccc","fs"]
b=["cc","a","ee"]
def same_length(x,y):
    return len(x)==len(y)
list(map(same_length,a,b))

[True, True, False]

In [53]:
a=["ab","a","ccc","fs"]
b=["cc","a","ee"]
def f(x,y):
    return len(x)==len(y)
result=map(f,a,b)
print(list(result))

[True, True, False]

In [54]:
def f(x):
    return x*2
for i in map(f,[2,3,5]):
    print(i)

4
6
10

The map() function takes two parameters (in this order):
>The function that we want to apply to each item of the iterable

>The iterable.

In [56]:
#FIB!
def toEach (L, f):
    for i in range(2,len(L)):
        L[i]=f(L[i-1]+L[i-2])
L=[1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
toEach(L,int)
print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [58]:
a=("ab","a","ccc","fs")
b=("cc","a","ee")
def f(x,y):
    return len(x)==len(y)
result=map(f,a,b)
print(tuple(result))

(True, True, False)

In [67]:
def apply(L, f):
    for i in range(len(L)):
        L[i]= f(L[i])
        print(L) #returns wrong list

L=[1,-2,3.4]
print(apply(L, abs))
L

[1, -2, 3.4]
[1, 2, 3.4]
[1, 2, 3.4]
None

[1, 2, 3.4]

In [71]:
import math 

def applytoeach(li,f):
    """ l is a list, f a function mutates l by replacing each element i if l by f(i)"""
    for i in range(len(li)):
        li[i]=f(li[i])
li=[1,2,3]
applytoeach(li,math.factorial)
print(li)

[1, 2, 6]

In [81]:
def timesFive(a):
    return a * 5
def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])

testList = [1, -4, 8, -9]
applyToEach(testList, timesFive)
print(testList)
# Your Code Here
def square(a):
    return a**2
applyToEach(testList,square)
print(testList)

# Your Code Here
def inc(a):
    return a+1
applyToEach(testList,inc)
print(testList)

[5, -20, 40, -45]
[25, 400, 1600, 2025]
[26, 401, 1601, 2026]

In [88]:
applyToEach(testList, lambda x : 3*x**2 + abs(x) - 8)

# Which is equivalent to:
# def my_func(x):
#        return 3*x**2 + abs(x) - 8


testList=[2,64,3,5]
applyToEach(testList, my_func)
testList

[6, 12344, 22, 72]

In [100]:
def applyEachTo(L, x):
    result = []
    for i in range(len(L)):
        result.append(L[i](x))
    return result
def square(a):
    return a*a

def halve(a):
    return a/2

def inc(a):
    return a+1
print(applyEachTo([inc, square, halve, abs], -3))
print(applyEachTo([inc, square, halve, abs], 3.0))
# error print(applyEachTo([inc, max, int], -3))

[-2, 9, -1.5, 3]
[4.0, 9.0, 1.5, 3.0]

In [108]:
print("First module's name: {} ".format(__name__))

First module's name: __main__

In [107]:
def main():
    print("First module's name: {} ".format(__name__))
    #pass

if __name__=='__main__':
    main()

First module's name: __main__

Lists, tuples, ranges and strings

Common operations:

seq[i]

len(seq)

seq1+seq2 (not for range)

n*seq (not for range)

seq[start:end]

e in seq

e not in seq

for e in seq

In [19]:
L=[1,3,5,'adam']
S='Laks Va'
T=(4,36,6,2,'sho')
R=range(0,5)

L2=[4,3,3,'ant']
S2='hmi llala'
T2=(45,0,8,3,'cking')
R2=range(3,25)

In [29]:
print(L[2],T[3],S[3],R[2],"\n")
print(len(L),len(S),len(T),len(R),"\n")
print((L+L2),(S+S2),(T+T2),"\n") # print(R+R2) TypeError- unsupported operand type(s) for +: 'range' and 'range'
print((4*L),(3*S),(5*T),"\n")
print(L[2:4],T[2:4],S[2:4],R[2:4],"\n")
print(1 in L,'L' in S,4 in T,4 in T)
print(1 not in L,'L' not in S,4 not in T,4 not in T)

5 2 s 2

4 7 5 5

[1, 3, 5, 'adam', 4, 3, 3, 'ant'] Laks Vahmi llala (4, 36, 6, 2, 'sho', 45, 0, 8, 3, 'cking')

[1, 3, 5, 'adam', 1, 3, 5, 'adam', 1, 3, 5, 'adam', 1, 3, 5, 'adam'] Laks VaLaks VaLaks Va (4, 36, 6, 2, 'sho', 4, 36, 6, 2, 'sho', 4, 36, 6, 2, 'sho', 4, 36, 6, 2, 'sho', 4, 36, 6, 2, 'sho')

[5, 'adam'] (6, 2) ks range(2, 4)

True True True True
False False False False

In [56]:
for i in L:
    print(i,end=' ')
for i in S:
    print(i,end=' ')
for i in T:
    print(i,end=' ')
for i in R:
    print(i,end=' ')
for i in range(6):
    print(i,end=' ')

1 3 5 adam L a k s   V a 4 36 6 2 sho 0 1 2 3 4 0 1 2 3 4 5

| type | examples | Mutable
|---------------|----------|---------|
|   str  | characters |' ','abc','a' | No |
|   tuple  | any type | (),(3,),('abc',4) | No |
|   range  | integers | range(10), range(1,10,2) | No |
|   list  | any type | [],[3],['abc',4] | Yes |

DOES TUPLE ACT AS A MUTABLE OBJECT? EVER?
> If a tuple holds mutable objects, the values stored in those objects can change

In [34]:
l=[1,2,3]
r=[4,5,6]

t = (l,r)  
print(t)   
l.append('Banana')
print(t)

([1, 2, 3], [4, 5, 6])
([1, 2, 3, 'Banana'], [4, 5, 6])

In [38]:
print(S+S2)
print(S+L) #TypeError can only concatenate str (not "list") to str
# i.e can concatenate str+str,ist+list,tuple+tuple

Laks Vahmi llala

TypeError: can only concatenate str (not "list") to str

How do you pronounce or say a method name like __init__? "Underscore underscore init underscore underscore" sounds horrible and is almost a tongue twister. "Double underscore init double underscore" is a lot better, but the ideal way is "dunder init dunder" 

[LINK](https://www.python-course.eu/python3_magic_methods.php)

In [40]:
[3,6,8] + [7,11,13,5,3]

[3, 6, 8, 7, 11, 13, 5, 3]

In [45]:
# TypeError
# (1, 2, 3) + [4]
# (1, 2, 3) + 'abc'
1 + 3.0

4.0

In [3]:
range(6)[3:5]

range(3, 5)

# DICTIONARY

In [8]:
names=['Ana','John','Katy','Ram']
grade=['B','A','A-','C']
course=[2.00,35.35,632.5,646.6]

In [9]:
def get_grade(student,name_list,grade_list,course_list):
    i=name_list.index(student)
    grade=grade_list[i]
    return (course,grade)
print(get_grade('Ana',names,grade,course))
print(get_grade('John',names,grade,course))
print(get_grade('Katy',names,grade,course))
print(get_grade('Ram',names,grade,course))

([2.0, 35.35, 632.5, 646.6], 'B')
([2.0, 35.35, 632.5, 646.6], 'A')
([2.0, 35.35, 632.5, 646.6], 'A-')
([2.0, 35.35, 632.5, 646.6], 'C')

In [2]:
from time import sleep
from tqdm import tqdm #progress bar while using loops

In [9]:
for i in range(100):
    sleep(0.1)
print("WOAH") #prints out after 0.1 s?

WOAH

In [10]:
for i in tqdm(range(100)):
    sleep(0.1)
print("WOAH")

100%|██████████| 100/100 [00:10<00:00,  9.80it/s]

WOAH

In [16]:
text=""
for char in tqdm(["a","b","c","d"]):
    sleep(0.25)
    text=text+char
    print(text)

 25%|██▌       | 1/4 [00:00<00:00,  3.99it/s]

a

 50%|█████     | 2/4 [00:00<00:00,  3.98it/s]

ab

 75%|███████▌  | 3/4 [00:00<00:00,  3.98it/s]

abc

100%|██████████| 4/4 [00:01<00:00,  3.97it/s]

abcd

In [18]:
pbar=tqdm(["a","b","c","d"])
for char in pbar:
    sleep(0.25)
    pbar.set_description("Processing %s" % char)

Processing d: 100%|██████████| 4/4 [00:01<00:00,  3.92it/s]

In [23]:
with tqdm(total=100) as pbar:
    for i in range(10):
        sleep(0.01)
        pbar.update(10)

100%|██████████| 100/100 [00:00<00:00, 976.37it/s]

In [24]:
pbar = tqdm(total=100)
for i in range(10):
    sleep(0.1)
    pbar.update(10)
pbar.close()

100%|██████████| 100/100 [00:01<00:00, 97.88it/s]

In [25]:
import torch

In [28]:
x=torch.randn(3,requires_grad=True)
x

tensor([-0.3402,  1.3317, -0.1646], requires_grad=True)

In [ ]:
y=x+2